* {
  margin: 0;
  padding: 0;
}
.model-dialog {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.model-dialog .model-content {
  padding: 20px 10px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.model-dialog .model-content .model-header {
  text-align: center;
}
.model-dialog .model-content .model-header .close {
  float: right;
}
.model-dialog .model-content .model-body {
  min-height: 100px;
}
.model-dialog .model-content .model-footer {
  text-align: right;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #999;
}
.btn:focus {
  outline: none;
}
.btn-danger {
  background-color: #ff6666;
}
