.set-menu {
  width: 300px;
  padding: 10px;
  background-color: #eee;
  color: #1a1a1a;
}
.set-menu > ul {
  background-color: #fff;
}
.set-menu > ul .load-more {
  text-align: center;
  line-height: 40px;
  background-color: #888;
}
.set-menu > ul li {
  list-style: none;
  cursor: pointer;
}
.set-menu > ul li .title {
  padding: 10px 8px;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.set-menu > ul li .title span + small {
  font-size: 12px;
  color: #a2a2a2;
}
.set-menu > ul li .title .qf,
.set-menu > ul li .title .btn {
  float: right;
  color: #888;
}
.set-menu > ul li .title .btn {
  color: #fff;
}
